#services {
    padding-top: 201px;
}

.services-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-box h2 {
    color: var(--text-color, #252B42);
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
}

.services-box p {
    color: var(--second-text-color, #737373);
    max-width: 410px;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.services-network {
    position: relative;
    width: 597px;
    height: 442px;
    flex-shrink: 0;
}

.services-icon {
    position: absolute;
    display: inline-flex;
    padding: 34.8px 36.8px;
    left: 450px;
    bottom: -2030px;
}

.services-cards {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.services-card-2 {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.services-card-2 h2 {
    margin-bottom: 10px;
    color: var(--text-color, #252B42);
    max-width: 333px;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
}

.services-card-2 p {
    margin-bottom: 40px;
    color: var(--second-text-color, #737373);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.services-card {
    margin-right: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.services-card img {
    max-width: 32px;
    height: 32px;
}

.services-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    gap: 10px;
}

.services-item {
    color: var(--text-color, #252B42);
    font-family: Montserrat;
    max-width: 250px;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.services-item-2 {
    color: var(--second-text-color, #737373);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
}